@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-display: swap;
        font-family: inter-custom;
        font-style: normal;
        font-weight: 400;
        src: local("Inter Regular"), local("Inter-Regular"), local("Inter"),
        url("/static/fonts/inter/inter-regular.woff2") format("woff2"),
        url("/static/fonts/inter/inter-regular.woff") format("woff");
    }

    @font-face {
        font-display: swap;
        font-family: tul-mono-custom;
        font-style: normal;
        font-weight: 400;
        src: local("TULMono Regular"), local("TULMono-Regular"),
        url("/static/fonts/tul-mono/tul-mono-regular.woff2") format("woff2"),
        url("/static/fonts/tul-mono/tul-mono-regular.woff") format("woff");
    }

    @font-face {
        font-display: swap;
        font-family: tul-mono-custom;
        font-style: normal;
        font-weight: 700;
        src: local("TULMono Bold"),
        url("/static/fonts/tul-mono/tul-mono-700.woff2") format("woff2"),
        url("/static/fonts/tul-mono/tul-mono-700.woff") format("woff");
    }

    @font-face {
        ascent-override: 90%;
        font-family: inter-fallback;
        size-adjust: 107%;
        src: local("Arial");
    }

    body {
        color: theme("colors.tulVioletDark");
        overflow-x: hidden;
        @apply font-base text-body;
    }
}

@layer components {
    .ui-typo-hero {
        @apply text-[2.5rem] md:text-[3.5rem] lg:text-hero font-bold font-tul-mono;
    }

    .ui-typo-h1 {
        @apply text-[1.75rem] md:text-h1 font-bold font-tul-mono;
    }

    .ui-typo-h2 {
        @apply text-[1.5rem] md:text-h2 font-bold font-tul-mono;
    }

    .ui-typo-h3 {
        @apply text-h3 font-tul-mono font-bold;
    }

    .ui-typo-large {
        @apply text-large font-tul-mono font-bold;
    }

    .ui-typo-body {
        @apply text-body;
        line-height: 170%;
    }

    .ui-typo-small {
        @apply text-small font-tul-mono;
    }
}
